._po-card {
    ._border-r {
        border-right: 1px solid #615F5F54;
    }

    ._label-grey {
        color: #615F5FE8
    }
    .ant-card-body {
        padding: 12px 24px;
        border-radius: 0 0 8px 8px;
    }
}