.flex justify-between items-center w-full pt-3 px-5{
    ._title primary-color text-2xl{
           
    position: absolute;
    top:13px ;
    left: 206px;
    width: 70%;
    height: 46px;
   
    }
}