

// .ant-input-search .ant-input-search-button {
//     height:32px
// }

._current_date {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    // line-height: 26px;
    color: rgba(0, 0, 0, 0.47);
}
.ant-drawer-header ant-drawer-header-close-only{
  
}