@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
$font-family-Roboto: "Roboto", "sans-serif";

//colors
$black-color: #000000;
$white-color: #ffffff;
$primary-color: #FD0F00;
$light-primary-color: #fd110062;
$grey-color: #8D8D8D;
$success-color: #076A05;
$light-grey-color: #F8F8F8;
$hover-white-color: #ffffff