// Tabs Margin

._products_wrap {
  .ant-tabs {
    margin-top: 10px;
    margin-left: 15px;
  }
  // Tabs Sizing
  .ant-tabs-tab-btn {
    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
  }

  ._productname {
    display: inline-block;
    // width: 180px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
   
  }
  :where(.css-dev-only-do-not-override-e0k33r).ant-card .ant-card-body {
    padding: 15px;
    border-radius: 0 0 8px 8px;
}
}
