._modal_header {
  text-align: center;
  font-family: "Montserrat", sans-serif;

  font-size: 24px;
  line-height: 100%;
}

._modal_logout {
  color: rgba(253, 15, 0, 0.78);
  cursor: pointer;
  font-size: 16px;
  line-height: 100%;
}
._modal_header_poView {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
  /* or 39px */

  color: #000000;
  text-align: center;
}
:where(.css-dev-only-do-not-override-e0k33r).ant-table-wrapper
  .ant-table-tbody
  > tr
  > td {
  position: relative;
  padding: 5px 5px;
  overflow-wrap: break-word;
  text-align: center;
  font-size: 12px;
  font-family: "Lato";
}
.ant-table-wrapper .ant-table-thead > tr > th {
  padding: 5px 5px;
  text-align: center;
  font-size: 13px;
  font-family: "Lato";
}
:where(.css-dev-only-do-not-override-1vywuwj).ant-table-wrapper .ant-table {
  font-size: 11px;
}

._preview_po {
  // height: 447px;

  background: #fdfdfd;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 17px;
}

.ant-upload .ant-upload-select {
  width: 108px;
  height: 104px;
}

._modal_para {
  font-family: "Lato";
  font-size: 16px;
  color: #000000;
}

._payment_header {
  width: 193px;
  height: 27px;

  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;

  color: #000000;
}

.ant-form-vertical .ant-form-item-label {
  margin: -10px;
  margin-bottom: -5px;
}

// profile upload

.ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select {
  width: 195px;
}

._label_input {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 19px;
  text-align: center;

  color: #000000;
}

// Profile Upload

:where(
    .css-dev-only-do-not-override-e0k33r
  ).ant-upload-wrapper.ant-upload-picture-card-wrapper
  .ant-upload.ant-upload-select {
  width: 108px;
  height: 104px;
  background: #f8f8f8;
  border: 0.5px solid rgba(48, 58, 79, 0.4);
  border-radius: 10px;
}

._input_username {
  background: #f8f8f8;
  border: 0.5px solid rgba(48, 58, 79, 0.4);
}

// View Modal

._po_Number {
  font-family: "Lato";
  font-weight: 500;
  font-size: 16px;
  color: #000000;
}

._company_name {
  font-family: "Lato";

  font-weight: 500;
  font-size: 24px;

  color: #000000;
}

._sheduled_date,
._product_id {
  font-family: "Lato";
  font-size: 14px;
  color: rgba(97, 95, 95, 0.91);
}

._product_name,
._product_quantity {
  font-family: "Lato";
  font-size: 16px;
  color: #000000;
}
._product_price {
  font-family: "Lato";
  color: #000000;
}

._label {
  font-family: "Lato";
  font-style: normal;

  font-size: 14px;
  /* identical to box height */
  color: #000000;
}
._address_details {
  display: block;

  width: 317px;
  height: 44px;
  font-family: "Lato";

  font-weight: 400;
  font-size: 14px;

  color: rgba(97, 95, 95, 0.91);
}
._label_total {
  font-family: "Lato";

  font-weight: 600;
  font-size: 18px;

  color: rgba(253, 15, 0, 0.78);
}



/* style for the scrollbar track */
::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 10px;
}

/* style for the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
}

/* style for the scrollbar when hovered */
::-webkit-scrollbar-thumb:hover {
  background-color: #a1a1a1;
}
::-webkit-scrollbar {
  width:0px;
}

