@import "../../../../sass/variables";

._operations {
    ._remove-icon {
        .ant-input-number-input {
            text-align: left;
            padding-left: 4px;
            background-color: $light-grey-color;
        }
    }
}