._signin {
  .signIn-container {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    height: 100vh;
    background-color: #fff;
    /* border: 2px solid rgb(64, 22, 216); */
    position: fixed;

    top: 0;
    bottom: 0;
  }

  .Login_Details,
  .Easyology_Details {
    /* border: 2px solid rgb(64, 22, 216); */
  }
  /* Left Side Styling */

  .container_details_Login {
    width: 400px;
    /* border: 2px solid rgb(22, 216, 22); */
    margin: 15%;
  }

  .welcome_msg {
    /* position: absolute; */
    width: 27.06rem;
    height: 73px;

    font-family: "Lato";
    /* font-style: bold; */
    font-weight: 510;
    font-size: 3.75rem;
    line-height: 72px;
    /* text-align: center; */

    color: #000000;
  }

  /* Making Containers Center */
  .Logo_title,
  .User_Type_Enter_Details {
    display: flex;
    /* align-items: center */
    flex-direction: column;
    align-items: center;
  }

  .Logo_title > * {
    margin-top: 6%;
  }

  .Logo_title > img {
    width: 97px;
    height: 97px;
  }

  .Login_msg {
    /* position: absolute; */
    /* height: 30px; */

    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 1.56rem;
    line-height: 30px;
    /* identical to box height */

    /* text-align: center; */
    letter-spacing: 0.3px;

    /* grayscale / black */

    color: #252733;
  }

  .User_Type_Enter_Details {
    margin-top: 50px;
  }

  .user_type {
    /* position: absolute; */
    height: 37px;
    /* left: 220px; */
    /* right: 948px; */
    /* top: 424px; */

    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 1.93rem;
    line-height: 37px;
    text-align: center;
    letter-spacing: 0.3px;

    color: rgba(97, 95, 95, 0.53);
  }

  .enter_details {
    /* position: absolute; */
    height: 20px;

    font-family: "Lato";
    font-style: normal;
    font-weight: 300;
    font-size: 1.365rem;

    /* identical to box height, or 91% */

    text-align: center;
    letter-spacing: 0.3px;

    color: #000000;
    margin-top: 5px;
  }

  /* Form Styling  */

  .login_easyology {
    margin: 20px;
    margin-top: 40px;
  }

  .login_labels {
    width: 131px;
    height: 22px;

    font-family: "Lato";
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;

    color: #000000;
  }

  .login_inputs {
    width: 379px;
    height: 31px;

    background: #fdfdfd;
    border: 0.4px solid rgba(48, 58, 79, 0.63);
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .login_btn {
    width: 379px;
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }

  .login_button {
    width: 201px;
    height: 63px;
    background: #fd0f00;
    border-radius: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 29px;
    text-align: center;

    color: #ffffff;
    border: 1px solid #ffffff;
    /* margin: auto; */
    /* margin: 15%; */
    /* display: flex; */
    /* align-items: center; */
    /* margin-left: 20%; */
  }

  /* -------------- Right Side Styling ------------ */

  .background_red_image {
    /* background: #FF0000; */
    width: 100%;
    height: 38vh;
    background-image: url("../../../assets/images/login/Login_Background.png");
    /* border-bottom-radius: 50% 25%; */
    /* border-bottom-radius: 30px; */

    /* border-bottom-left-radius: 40px ; */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    /* border-radius: 50px; */
    /* clip-path: circle(100% at 50% -50%); */
  }

  .background_red_image > * {
    margin-left: 30px;
    margin-top: 5px;
  }

  .background_red_image > img {
    /* margin-top: 40px; */
    margin-top: 6%;

    /* height: ; */
  }

  .easyology_header {
    width: 240px;
    height: 50px;

    font-family: "Mulish";
    font-style: normal;
    font-weight: 700;
    /* font-size: 40px; */

    font-size: 300%;
    line-height: 50px;

    color: #ffffff;
    text-transform: uppercase;
    /* padding-bottom: 20px; */
    /* border-bottom: 3px solid #fff; */
  }

  .app_slogan {
    width: 267px;
    height: 58px;

    font-family: "Lato";
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    /* line-height: 29px; */

    color: #ffffff;
  }

  .Purchase_online {
    display: flex;
    justify-content: flex-end;
  }

  .Purchase_online > img {
    margin-right: 30%;
    margin-bottom: 20px;
  }

  .FooterEasyology {
    width: 90%;
  }

  .easylogogyWelcome {
    /* width: 200px; */
    /* height: 106px; */

    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 2.3rem;
    line-height: 44px;
    /* text-align: center; */
    text-align: center;

    color: #ff0000;
  }

  .easyology_desc {
    /*  */
    /* width: 313px; */
    /* height: 106px; */

    font-family: "Lato";
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
    line-height: 24px;

    color: #5e5e5e;
    margin-top: 10px;
  }
}
