// Tabs Margin

.ant-tabs {
  margin-top: 10px;
  margin-left: 15px;
}
// Tabs Sizing
.ant-tabs-tab-btn {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #000000;
}


._productname {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}